<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <div id ="header" class = "flex">
        <h1>Emarket</h1>
        <p><a href="/log_out">Logout</a></p>
        <div class="flex">
            <p>Hello, {{user.username}}</p>
            {%if img.id != null %}
            <img src="/static/img/{{img.file}}" alt="profile image">
            {%else%}
            <p><a href="/uploadPic">Add photo</a></p>
            {%endif%}
        </div>
    </div>
    <div id ="content">
        <h2>{{item.name}}</h2>
        <div>
            <p>{{item.description}}</p>
            <h2>This Item costs ${{item.cost}}</h2>
        </div>
    </div>
    {%if session.user_id != item.user_id%}
    {%if in_database%}
    <h2 style="text-align: center; color: gold;">Bought</h2>
    {%else%}
    <form action="/buy/item" method="post" id = "purchase-form">
        <input type="hidden" name="user_id" value="{{session.user_id}}">
        <input type="hidden" name="item_id" value="{{item.id}}">
        <button class="btn btn-primary">Purchase</button>
    </form>
    {%endif%}
    {%endif%}
    <div id = "links" class = "flex-middle">
        <p><a href ="/items">See all Items</a></p>
        <p><a href ="/dashboard">Dashboard</a></p>
        <p><a href="#">My Purchases</a></p>
    </div>
</body>
</html>