body {
    margin: 0px;
}


#header {
    background-color: darkslategrey;
    color: white;
    padding: 5px;
}


#footer {
    background-color: darkslategrey;
    margin-top: 50px;
}



.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

